.green-circle {
    border-radius: 50%;
    background: #89e894;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green-circle:after {
    content: '';
    border: solid #fff;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px 25px 45px 7px;
    transform: rotate(45deg);
    margin-top: -15px;
}